
div h1{
    font-family: pacifico, cursive;
    position: relative;
    z-index: 0;
}
 h1::after{
    content: "";
    position: absolute;
    background-color: #FFCA2C;
    height: 25%;
    width: 21%;
    bottom: 0;
    left: 391px;
    z-index: -1;
    transition: all 0.6s;
}
h1:hover::after{
    height: 60%;
}
.brdr{
    border: 1px dashed black;
    width: 50%;
    margin: auto;
}

h2{
    background-image: linear-gradient(to right, #3ca55c, #b5ac49);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.adjust{
    transition: all 0.4s;
}
.adjust:focus{
    outline: none;
    box-shadow: 0px 0px 0px 2px yellow; 
}
.change{
    transition: all 0.4s;
}
.change:focus{
    outline: none;
    box-shadow: 0px 0px 0px 2px rgb(43, 226, 208); 
}
button:hover .anime{
    animation: move 0.5s infinite;
}
@keyframes move {
    0%{
        transform: rotate(90deg);
    }
    100%{
        transform: rotate(180deg);
    }
}
.hide{
    animation: hide 4s 1s infinite;
    
}
@keyframes hide {
    0%{
        opacity: 0;
    }
    100%{
       opacity: 1;
    }
}

.modal-header div{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    /* background-color: #b5ac49; */
  
}
.modal-header .colorOne{
    background-color: red;
}
.modal-header .colorTwo{
    background-color: #FFCA2C;
}
.modal-header .colorThree{
    background-color: #3ca55c;
}
.max-width{
    max-width: 800px;
}
.modal-body p{
    text-align: start;
}
.modal-body p i{
    color: #bb4120;
}
